/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.container {
  width: 960px;
  margin: 0 auto;
}




.btn {
  display: inline-block;
  border: none;
  padding: 6px 12px;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #5bc0de;
  background: #5bc0de;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

.btn.dark {
  border-color: #a7a9aa;
  background: #a7a9aa;
}

.btn&:hover,
.btn&:focus {
  color: #fff;
  text-decoration: none;
}

.btn&:active,
.btn&.active {
  outline: 0;
  background-image: none;
  .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}

.btn&.disabled,
.btn&[disabled] {
  cursor: default;
  pointer-events: none; // Future-proof disabling of clicks
  .opacity(.65);
  .box-shadow(none);
}


article {
  -webkit-column-count: 2;  -webkit-column-gap: 30px;
     -moz-column-count: 2;     -moz-column-gap: 30px;
          column-count: 2;          column-gap: 30px;
}

  article p {
    margin-top: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: justify;
  }




form {
  width: 500px;
  padding: 20px;
  border: 1px solid grey;
  float: left;
}

.form-row {
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 1em;
}

  .form-row .email {
    display: none;
    font-size: 0.8em;
    font-style: italic;
  }

  .form-row:last-of-type {
    padding: 0;
  }

  .form-row textarea {
    padding: 0.5em;
    width: 98%;
    width: calc(100% - 1em);
    height: 4em;
  }

  .form-row button {
    float: right;
    display: none;
  }

  .form-row .sign-in {
    float: right;
  }





#comment-list {
  list-style: none;
  padding: 0;
  margin: 2em 0 0;
  float: left;
  clear: both;
  width: 540px;
}

  #comment-list > li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
  }

  #comment-list > li header {
    font-size: 0.75em;
  }

  #comment-list > li header span {
    font-style: italic;
  }

  #comment-list > li p {
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  #comment-list > li img {
    width: 100%;
  }





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 960px) {
  .container {
    padding: 0 2em;
    width: 94%;
    width: calc(100% - 4em);
  }
}

@media only screen and (max-width: 640px) {

}


@media only screen and (max-width: 606px) {
  article {
    -webkit-column-count: 1;  -webkit-column-gap: 30px;
       -moz-column-count: 1;     -moz-column-gap: 30px;
            column-count: 1;          column-gap: 30px;
  }

  #comment-list {
    width: 100%;
  }

  form {
    width: 80%;
    width: calc(100% - 40px);
  }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
