<header>
  Posted by <span class="author-email"><a href=""><%= model.get('email') %></a></span> <span class="date"><%= formatDate() %></span>
</header>
<div class="comment-content">
  <%= renderMarkdown() %>
</div>
