<header>
  Posted by <span class="author-email"><a href=""><%= model.get('email') %></a></span> on <span class="date"><%= model.get('created_at') %></span>
</header>
<p><%= model.escape('content') %></p>
